@scripts = { <script>initMainPage()</script> }

@main(scripts) {

    <div class="row">
        <h3>Create account</h3>
    </div>

    <div class="row">
        <form class="form-inline" id="CreateAccount">
            <label for="CreateAccount-name">Su Nombre</label>
            <input type="text" class="form-control" id="CreateAccount-name" placeholder="Introduzca su nombre" />
            <button type="submit" class="btn btn-default">Crea tu cuenta</button>
        </form>
    </div>

    <div class="row" id="Accounts"></div>

}
